.btn_pagination{
    display: flex;
    gap: 25px;
    margin: 25px 0;
}button{
    background-color:  #576b6f;
    border-radius: 6px;
    padding: 10px ;
    width: 15vh;
    color: white;
    transition: ease-out 0.3s;  
}button:hover{
    color:hsl(0, 27%, 69%);
    transform:scale(1.1);
    box-shadow: inset 400px 0 0 0 #4e6068;
}